/*
Exercise link:https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Box_Model_Tasks
*/

/*
The Box Model One
1) The total width of the standard box model excluding the margins:
    2(padding) + 2(border) + width
    2(40) + 2(5) + 300 = 390
2) This means that if I change the alternate box's width to 390, the 2 boxes will have same width.
*/

/*
The Box Model Two
*/
.box {
    border: dotted 5px black;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
 
}

/*
The Box Model Three
*/
display:inline-block;